.form-btn {
  position: relative;
  background: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 14px;
  font-size: 14px;
  text-transform: capitalize;
  z-index: 1;
  box-shadow: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  transition: 0.25s ease;
}
.form-btn ion-icon {
  font-size: 16px;
}
.form-btn:hover {
  background:  linear-gradient(
    to top, 
    hsl(120, 88%, 27%) 0%, 
    hsla(0, 0%, 69%, 0) 25%
  );
  color: rgb(11, 147, 11);
}
.form-btn:disabled {
  opacity: 0.7;
  cursor: pointer;
}
